{erl_opts, [debug_info]}.
{deps, [ {cowboy,
{git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}}]}.

{relx, [{release, { ecalendar, "0.1.0" },
         [ecalendar]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [ecalendar]}
]}.
